body{
    background: linear-gradient(to bottom right, #272626, #444343);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Courier New";
    color: white;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

a p {
    font-size: 16px;
}

pre {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

pre code {
    color: #f700ff;
}

img, p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu {
    font-size: 20px;
}